DJANGO_SECRET_KEY=cambia-esto-en-produccion
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL (opcional). Si no se define, se usa SQLite.
# POSTGRES_DB=star_basquet
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres
# POSTGRES_HOST=127.0.0.1
# POSTGRES_PORT=5432
